.btn-posadas {
    color: Red;
}

.btn.btn-primary.home-slide {
    font-family: $font-primary;
    border-radius: 0;
    background-color: #fdb924;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    height: 44px;
    padding: 12px 50px;
    &:hover, &:focus, &:active, &.active {
        background-color:  #F8971D;
    }
}

button.home-input {
    font-family: $font-primary;
    float: right;
    border-radius: 0;
    background-color: #FDB924 ;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    margin: 20px 15px 30px 0;
    padding: 6px 47px;
    &:hover, &:focus, &:active, &.active {
        background-color:  #F8971D;
    }
}

.form-capturar {
    button.borrar-referido {
        font-family: $font-primary;
        float: right;
        border-radius: 0;
        background-color: #f4f1ed ;
        border: 1px solid #cccccc;
        color: #000;
        font-size: 16px;
        margin: 20px 15px 30px 0;
        padding: 6px 47px;
        &:hover, &:focus, &:active, &.active {
            background-color:  #a69b93 ;
        }
    }
    button.capturar-referido {
        font-family: $font-primary;
        float: right;
        border-radius: 0;
        background-color: #FDB924 ;
        border: none;
        color: #FFFFFF;
        font-size: 16px;
        margin: 20px 15px 30px 0;
        padding: 6px 47px;
        &:hover, &:focus, &:active, &.active {
            background-color:  #F8971D;
        }
    }
    input[type="checkbox"] + label {
        display:inline-block;
        width:24px;
        height:24px;
        margin:-1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    
    input[type="checkbox"]:checked + label {
        background:url(../img/checkbox-tick.svg) 0 no-repeat;
    }
}

@media (min-width: 1200px) {
    button.home-input{
        margin: 20px 60px 30px 0;
    }    
}

@media (max-width: 767px) {
    button.home-input{
        padding: 6px 42px;
    } 
}