* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

*:focus {
    outline: 0;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

h1,
h2,
h3,
h4 {
    font-family: $font-primary;
}

section {
    h1 {
        font-size: 34px;
        text-transform: uppercase;
        margin: 30px 0 40px 0;
        font-weight: 400;
    }
}

@media (max-width: 767px) {
    section {
        h1 {
            font-size: 24px;
            margin: 10px 0 30px 0;
        }
    }
}

@media (min-width: 1025px) {
    section {
        h1 {
            margin: 30px 0 60px 0;
        }
    }
}

div.fb_iframe_widget {
    display: inline-block;
    position: relative;
    width: 20px;
    left: -23px;
    margin-right: -23px;
    top: -4px;
    visibility: hidden;
    opacity: 0;
}

.message-form {
    display: none;
    padding: 5px;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    margin: 0 15px 10px;
    padding: 5px 10px;
    &.error-m {
        border-color: #ff0000;
    }
    &.success-m {
        border-color: darkgreen;
    }
}
