.nav-container-row {
    text-align: center;
}

footer {
    background-color: #E9E3DB;
    padding-bottom: 40px;
    text-align: center;
    color: #656565;
    font-size: 12px;
    .footer-nav {
        margin: 40px 0;
        ul {
            display: inline;
            width: auto;
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                border-left: 1px solid #F7971D;
                &:first-child {
                    border: 0 none;
                }
                a {
                    font-family: $font-primary;
                    text-align: center;
                    color: #323232!important;
                    font-size: 18px;
                    display: block;
                    font-weight: 500;
                    padding: 10px 20px;
                }
            }
        }
    }
    .copyrights {
        a {
            color: #656565;
            text-decoration: underline;
            text-transform: uppercase;
            display: inline-block;
            margin-left: 10px;
            &:first-child {
                margin: 0;
            }
            &:hover {
                color: #F7971D;
            }
        }
    }
}

.footer-banner {
    background-color: #fbf9f8;   
    margin: 0;
    padding: 39px 0;
    img {
        display: inline-block;
        margin-right: 60px;
    }
    .footer-phone {
        a{
            display: inline !important;
            color:#8D7F75 !important;
        }
        position: relative;
        top: 8px;
        span {
            font-size: 24px;
            color: #8D7F75;
            font-weight: 500;
        }
    }
    i {
        font-size: 27px;
        color: $color-yellow;
    }
}

@media (max-width: 991px) {
    footer {
        .footer-nav {
            ul {
                li {
                    a {
                        padding: 10px 10px;
                        font-size: 15px;
                    }
                }
            }
        }
        .copyrights {
            > div:first-child {
                margin-bottom: 40px;
            }
            .pull-right,
            .pull-left {
                float: none !important;
                display: block;
                margin: 0 15px;
            }
        }
    }
}

@media (max-width: 767px) {
    footer {
        .footer-nav {
            border-bottom: 1px solid orange;
            margin: 0 20% 40px;
            padding-bottom: 30px;
            padding-top: 30px;
            ul {
                li {
                    border: 0 none;
                    display: block;
                    a {}
                }
            }
        }
        .copyrights {
            a {
                &:first-child {
                    margin-top: 0;
                }
                display: block;
                margin: 20px 0 0 0px;
                text-align: center;
            }
        }
    }
    .footer-banner {
        p.text-center {
            a {
                display: block;
                img {
                    display: block;
                    margin: 0 auto 20px;
                }
            }
        }
    }
}
