
.form-feedback {
    form.form-inline {
        h1 {
            text-align: center;
            font-size: 28px;
            color: #323232;
        }
      .form-group {
        margin: 10px 0;
        input {
          border-radius: 0;
          max-width: 340px;
          width: 100%;
        }
        select {
          border-radius: 0;
          max-width: 340px;
          width: 100%;
        }
      }
    }
    button {
        float: right;
        border-radius: 0;
        background-color: #FDB924 ;
        border: none;
        color: #FFFFFF;
        font-size: 16px;
        margin: 0 15px;
    }
}

@media (max-width: 991px) {

        form.form-inline {
        .form-group {
            input {
            max-width: 100% !important;
            }
        select {
          max-width: 100% !important;
        }
      }
    }
  }
