
.form-feedback {
    
    .form-capturar {
        margin-bottom: 30px;
        h1, p {
           text-align: left; 
        }        
        .row {
            background-color: #fdfcfb;
            border-bottom: 1px solid #edebeb;
            p {
                text-align: left;
            }
            p.capturar-titulo {
                padding: 15px 0 0 30px;
            }
            .form-group {
                min-height: 78px;
                .control-label {
                    text-align: left;
                }
                textarea {
                    width: 100%;
                    border-radius: 0;
                }
                input[type="checkbox"] {
                    display: none;
                }
            }
        }
        .row.capturar {
            min-height: auto;
            .form-group {
                min-height: auto;
                .checkbox {
                    padding-left: 15px;
                }
            }
        }
        
    }
    
    .success {
        display: none;
        text-align: center;
    }
    .required {
        color: #f82c1d;
        font-size: 16px;
        vertical-align: middle;
    }
    .error {
        color: #f82c1d;
        font-weight: normal;
        font-size: 11px;
    }
    .red {
        color: #f82c1d;
        font-size: 16px;
        vertical-align: middle;
    }
    span.required {
        position: absolute;
        top: 0;
    }
    form.form-inline {
        h1 {
            text-align: center;
            font-size: 28px;
            color: #323232;
            font-family: $font-primary;
            margin-top: 60px;
            margin-bottom: 30px;
        }
        p {
            text-align: center;
            font-size: 12px;
            color: #8D7F75;
            font-family: $font-primary;
        }
      .form-group {
        margin: 10px 0;
        label.control-label {
            font-size: 14px;
            color: #8D7F75;
            text-align: right;
            font-family: $font-primary;
            padding-top: 0;
            padding-right: 0;
        }
        input {
          border-radius: 0;
          max-width: 340px;
          width: 100%;
          font-size: 14px;
          font-family: $font-primary;
        }
        select {
          border-radius: 0;
          max-width: 340px;
          width: 100%;
          font-family: $font-primary;
        }
      }
    }
}

@media (max-width: 767px) {
        form.form-inline {
        .form-group {
            label.control-label {
                text-align: left !important;
            }
            input {
            max-width: 100% !important;
            }
        select {
          max-width: 100% !important;
        }
      }
    }
  }
