
.form-feedback {
    
    form.form-inline.form-capturar:first-child {
        .row:first-of-type {
            p.capturar-titulo {
                border-top: none !important;
            }
        }        
    }
    form.form-inline.form-capturar {
        .row.minivacs {
            display: none;
        }
        margin-bottom: 30px;
        h1, p {
           text-align: left; 
        }
        .row {
            background-color: #fdfcfb;
            p {
                text-align: left;
            }
            p.capturar-titulo {
                font-size: 10px;
                padding: 10px 0 0 0;
                margin: 0 30px;
                color: #8d7f75;
                border-top: 1px solid #edebeb;
                margin-top: 10px;
            }
            
            .form-group {
                min-height: 75px;
                .control-label {
                    text-align: left;                   
                    font-weight: normal;
                }
                textarea {
                    width: 100%;
                    border-radius: 0;
                    resize: none;
                }
                input[type="checkbox"] {
                    display: none;
                }
            }
        }
        .row.capturar {
            min-height: auto;
            .form-group {
                min-height: auto;
                .checkbox {
                    label.control-label {
                        padding-top: 3px;;
                    }
                    span#Privacy-error {
                        position: absolute;
                        top: 25px;
                        left: 45px;
                    }
                    padding-left: 15px;
                }
            }
        }
        
    }
    
    form.form-inline.form-minivacs {
        background-color: rgba(0,0,0,.2);
        h1, p {
            text-align: left;
            color: #FFF;
            padding-left: 15px;
            font-weight: lighter;
        }
        .row {
            p {
                text-align: left;
                color: #FFF;
                padding-left: 30px;
            }
            .form-group {
                min-height: 78px;
                .control-label {
                    text-align: left;
                    color: #FFF;
                    font-weight: normal;
                }
                .toggle-control {
                    border: none;
                }
            }
        }
    }
    
    input[aria-invalid="true"] {
        label.error {
            display: none;
        }
    }
    .success {
        display: none;
        text-align: center;
        color: #FFF;
        font-size: 14px;
        margin: 0 15px 10px;
        padding: 5px 10px;
        background-color: rgba(69,181,13,.45);
        border: 1px solid rgba(49,133,6,.45);
        text-shadow: 0 0 3px rgba(0,0,0,.6);
    }
    .required {
        color: #f82c1d;
        font-size: 16px;
        vertical-align: middle;
    }
    .error {
        color: #f82c1d;
        font-weight: normal;
        font-size: 11px;
        //padding: 3px 12px;
        //border: 1px solid rgba(197,38,26,.7);
    }
    .red {
        color: #f82c1d;
        font-size: 16px;
        vertical-align: middle;
    }
    span.required {
        position: absolute;
        top: 0;
    }
    form.form-inline {
        h1 {
            text-align: center;
            font-size: 28px;
            color: #323232;
            font-family: $font-primary;
            margin-top: 60px;
            margin-bottom: 30px;
        }
        p {
            text-align: center;
            font-size: 12px;
            color: #8D7F75;
            font-family: $font-primary;
        }
      .form-group {
        :focus::-webkit-input-placeholder {
           color: #323232;
        }
        :-moz-placeholder:focus {
           color: #323232;
        }
        :-ms-input-placeholder:focus {
           color: #323232;
        }
        margin: 10px 0;
        label.control-label {
            font-size: 14px;
            color: #8D7F75;
            text-align: right;
            font-family: $font-primary;
            padding-top: 0;
            padding-right: 0;
            font-weight: normal;
            padding-bottom: 8px;
        }
        label.control-label.pull-left {
            text-align: left;
        }
        input {
          border-radius: 0;
          max-width: 340px;
          width: 100%;
          font-size: 14px;
          font-family: $font-primary;
            
        }
        select {
          border-radius: 0;
          max-width: 340px;
          width: 100%;
          font-family: $font-primary;
        }
      }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    form.form-inline.form-minivacs {
        padding: 0;
        background-color: transparent !important;
        h1, p {
            padding-left: 0;
        }        
        .row {
            p {
                padding-left: 0;
            }
            .form-group {
                .control-label {
                }
                .toggle-control {
                }
            }
        }
    }
    
    .capturar-referido {
        .row.capturar {
            button {
                padding: 6px 25px;
            }
        }
    }
    form.form-inline.form-capturar {
        .row {
            p.capturar-titulo {
                margin: 0 0 0 30px !important;
            }
                
        }
    }
}

@media (max-width: 767px) {
        form.form-inline {
        .form-group {
            label.control-label {
                text-align: left !important;
            }
            input {
            max-width: 100% !important;
            }
        select {
          max-width: 100% !important;
        }
      }
    }
 
    .minivacs-form.container {
        padding-right: 0;
        padding-left: 0;
        form.form-minivacs {
            background-color: transparent;
            padding-right: 0;
            padding-left: 0;
            h1, p {
                color: #8D7F75 !important;
            }        
            .row {
                margin: 0;
                p {
                    color: #8D7F75!important;
                    padding: 0 15px;
                }
                .form-group {
                    padding: 0;
                    min-height: 78px;
                    .control-label {
                        color: #8D7F75 !important;
                    }
                }
            }
        }
    }
    
    .capturar-referido {
        .row {
            .form-group {
                margin: 0;
                padding: 0;
            }
            margin: 0 0;
            padding: 10px 0;
        }
        .row.capturar {
            .checkbox {
                padding-left: 10px;
            }
            .form-buttons {
                text-align: center;
                button {
                    padding: 10px 28px;
                    width: inherit;
                    margin: 0;
                    float: inherit;
                }
            }            
        }
    }
    
  }
