.login {
    .minivacs-block {
        background: url('../img/FiestaAmericanaPuertoVallarta.jpg') no-repeat 0 0 / cover;
        padding: 100px 0;
        .forgotPass {
            display: none;
        }        
        label.loginSuccess, label.loginError {
            display: none;
            font-weight: 400;
            font-size: 11px;
            padding-left: 15px;
        }
        label.loginError {
            color: #f82c1d;
        }
        label.loginSuccess {
            color: #fff;
        }
        label.loginError {
            display: none;
            color: #f82c1d;
            font-weight: 400;
            font-size: 11px;
            padding-left: 15px;
        }
    }
    .form-login {
        max-width: 370px;
        margin: 0 auto;
        h1 {
            padding-top: 30px;
        }
        .form-group {
            min-height: 60px;
            button {
                margin: -5px 15px 0 0;
            }
            a {
                padding-left: 15px;
                font-size: 12px;
                color: #fff;
                font-family: $font-primary;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    footer {
        padding-top: 40px;
    }
}

@media (min-width: 768px) {
    .login {
        .form-feedback form.form-inline.form-minivacs {
            background-color: rgba(0, 0, 0, .2) !important;
            h1 {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    .login {
        .form-login {
            h1 {
                margin-top: 0 !important;
            }
        }
        .form-group {
            text-align: center;
            min-height: 40px !important;
            button {
                float: none;
                margin: 0 !important;
            }
            a {
                color: #FDB924 !important;
                padding-left: 0 !important;
            }
        }
        .minivacs-block {
            background: none #ffffff;
            padding: 0;
        }
    }
}

@media(max-width: 991px) and (min-width: 768px) {
    .login {
        .minivacs-block {
            padding: 0;
        }
        .form-minivacs {
            min-height: 459px;
            h1 {
                padding-top: 70px;
            }
        }
        .form-group {
            a {
                padding-left: 9px !important;
            }
        }
    }
}
