.navbar {
    margin: 15px 0;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    font-family: $font-primary;
    .navbar-header {
        .navbar-brand {
            padding: 0;
        }
    }
    ul.nav {
        li {
            &.active {
                > a {
                    background-color: $nav-active-color;
                    color: #ffffff !important;
                    &:hover {
                        color: #ffffff !important;
                        background-color: $nav-active-color !important;
                    }
                }
            }
            a {
                font-family: $font-primary;
                text-align: center;
                color: #323232 !important;
                font-size: 18px;
                font-weight: 500;
                &:hover {
                    background-color: transparent !important;
                    color: #666 !important;
                }
            }
        }
    }
}
