.promocionDetalle {
    img {
        min-height: 370px;
    }
    .detalle-promocion {
        .img-content {
            background-color: rgba(0,0,0,.2);
        }
        color: #FFF;
        font-weight: normal;
        font-family: $font-primary;
    }
    .detalle-promociones {
        h1 {
            text-align: center;
        }
    }
    .reminders {
        text-align: center;
    }
    .detalle-block {
        word-break: break-word;
        font-weight: normal;
        text-align: center;
        background-color: #8d7f75;
        color: #FFF;
         i.fa {
            font-size: 60px;
            color: #FDB823;
        }
    }
}

@media (max-width: 767px) {
    .detalle-promocion {
        .img-content {
            background-color: none;
        }
        padding: 0;
        h2 {
            padding-top: 10px;
            margin-top: 0 !important;
        }
    }
    .presentation-block .item .img-content {
        max-width: 100% !important;
        text-align: center !important;
        .carousel-share {
            text-align: center !important;
        }
    }
    .detalle-block {
        .tile-block {
            
    list-style: none;
            .icon {
                
    position: relative;
                    display: inline-table;
                    vertical-align: middle;
                i {
                    font-size: 30px !important;
                }
            }
            h1 {
                
    position: relative;
                display: inline-table;
                vertical-align: middle;
                font-size: 24px;
            }
            p {
                
    position: relative;
                display: list-item;
                vertical-align: middle;
                font-size: 14px;
            }
            h2 {
                display: inline-table;
                vertical-align: middle;
                font-size: 18px;
            }
        }
    }
}