table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    top: inherit!important;
    left: inherit!important;
    height: 20px!important;
    width: 20px!important;
    display: block;
    position: absolute;
    color: #fff;
    border: none!important;
    border-radius: 5px!important;
    box-shadow: none!important;
    box-sizing: content-box;
    font-family: Roboto,Sans-serif!important;
    font-size: 25px!important;
    font-weight: 400!important;
    text-indent: 3px!important;
    line-height: 19px!important;
    margin-left: -25px;
    content: '+';
    background-color: #FDB924!important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    content: '-';
    background-color: #FDB924 !important;
    font-size: 35px!important;
    text-indent: 5px !important;
}
#tablaListado, #tablaCaptura, #tablaConsulta {
    span.dtr-data {
        word-break: break-word !important;
    }
    border: 1px solid #ccc;
    thead {
        tr {
            background-color: #aca095;
            color: white;
            th {
                font-family: $font-primary;
                font-weight: normal;
            }
            th.sorting {
                background-image: url(../img/sort-up-down.svg);
                background-position: 98% 50%;
            }
            th.sorting_asc {
                background-image: url(../img/sort-up.svg);
                background-position: 98% 50%;
            }
            th.sorting_desc {
                background-image: url(../img/sort-down.svg);
                background-position: 98% 50%;
            }
        }
    }
    tbody {
        tr.odd {
            background-color: #FBF9F8 !important;
            td.sorting_1 {
                background-color: inherit !important;
            }
        }
        tr.even {
            background-color: #FFF !important;
            td.sorting_1 {
                background-color: inherit !important;
            }
        }
        tr {
            td {
                font-family: $font-primary;
                font-weight: normal;
                color: #8D7F75;
                a {
                    color: #FDB924;
                    cursor: pointer;
                }
                a.inactiveStatus {
                    color: inherit;
                    cursor: default;
                    text-decoration: none;
                }
            }   
        }
    }
}

.consultar {
    
    tbody {
        tr {
            td {
                font-family: $font-primary;
                font-weight: normal;
                color: #8D7F75;
                a {
                    color: #FDB924;
                }
            }
        }
    }
    .modal.fade {
        .modal-content {
            padding: 30px;
            max-width: 560px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 0;
            .modal-header {
                border: none;
                padding: 0;
                margin: 0;
                button.close span{
                    font-size: 40px;
                    font-weight: lighter;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }
                h4 {
                    font-family: $font-primary;
                    font-weight: normal;
                    margin-bottom: 10px;
                }
            }
            .modal-body {
                border: none;
                padding: 0;
                margin: 0;
                .radio {
                    margin-bottom: 25px;
                }
                h3 {                    
                    font-family: $font-primary;
                    font-weight: normal;
                }
            }
            
            .modal-footer {
                border: none;
                padding: 0;
                margin: 0;
                button {
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }    
        }        
    }   
}

.listadoReferidos {
    .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: center;
    }
     button.guardarListado.pull-right {
        margin-top: -30px;
    }
}

@media (max-width: 767px) {
    .consultar {
        .modal.fade {
            .modal-content {
                padding: 15px;
                .modal-header {
                    h1 {
                        margin-bottom: 10px;
                    }
                }
                .modal-body {
                    .radio {
                        margin-bottom: 25px;
                    }
                }
                .modal-footer {
                    button {
                        margin-bottom: 10px;
                        margin-top: 10px;
                        margin-right: auto;
                        width: 100%;                       
                        max-width: 300px;
                    }
                }

                .btn-cerrar-recompensas {
                }
                .btn-guardar-recompensas {
                }    
            }        
        }   
    }
    
    .listadoReferidos {
        button.guardarListado.pull-right {
            margin: 0;
            float: none !important;
        }
        #tablaListado {
            #tablaListado_info {
                float: inherit;
            }
            #tablaListado_paginate {
                float: inherit;
                margin-bottom: 15px;
            }            
        }
    }
}