table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    top: inherit!important;
    left: inherit!important;
    height: 20px!important;
    width: 20px!important;
    display: block;
    position: absolute;
    color: #fff;
    border: none!important;
    border-radius: 5px!important;
    box-shadow: none!important;
    box-sizing: content-box;
    font-family: Roboto,Sans-serif!important;
    font-size: 25px!important;
    font-weight: 400!important;
    text-indent: 3px!important;
    line-height: 19px!important;
    margin-left: -25px;
    content: '+';
    background-color: #FDB924!important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    content: '-';
    background-color: #FDB924 !important;
    font-size: 35px!important;
    text-indent: 5px !important;
}
#tablaConsulta, #tablaCaptura {
    tr > th.sorting, 
    tr > th.sorting_asc,
    tr > th.sorting_desc {
        background-position: 98% 50% !important;
    }
}
#tablaListado, #tablaCaptura, #tablaConsulta {
    span.dtr-data {
        word-break: break-word !important;
    }
    border: 1px solid #ccc;
    thead {
        tr {
            background-color: #7f7063;
            color: white;
            th {
                font-family: $font-primary;
                font-weight: normal;
            }
            th.sorting {
                background-image: url(../img/sort-up-down.svg);
            }
            th.sorting_asc {
                background-image: url(../img/sort-up.svg);
            }
            th.sorting_desc {
                background-image: url(../img/sort-down.svg);
            }
        }
    }
    tbody {
        tr.odd {
            background-color: #FBF9F8 !important;
            td.sorting_1 {
                background-color: inherit !important;
            }
        }
        tr.even {
            background-color: #FFF !important;
            td.sorting_1 {
                background-color: inherit !important;
            }
        }
        tr {
            td {
                font-family: $font-primary;
                font-weight: normal;
                color: #8D7F75;
                padding: 30px 0 30px 30px;
                a {
                    color: #FDB924;
                    cursor: pointer;
                }
                a.inactiveStatus {
                    color: inherit;
                    cursor: default;
                    text-decoration: none;
                }
            }   
        }
    }
}

.consultar, .Listadoreferidos, .capturar  {
    
    tbody {
        tr {
            td {
                font-family: $font-primary;
                font-weight: normal;
                color: #8D7F75;
                a {
                    color: #FDB924;
                }
            }
        }
    }
    .modal.fade {
        .modal-content {
            padding: 30px;
            max-width: 560px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 0;
            .modal-header {
                border: none;
                padding: 0;
                margin: 0;
                button.close span{
                    font-size: 40px;
                    font-weight: lighter;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }
                h4 {
                    font-family: $font-primary;
                    font-weight: normal;
                    margin-bottom: 10px;
                }
            }
            .modal-body {
                border: none;
                padding: 0;
                margin: 0;
                .radio {
                    margin-bottom: 25px;
                }
                h3 {                    
                    font-family: $font-primary;
                    font-weight: normal;
                }
                select {
                    border-radius: 0;
                }
            }
            
            .modal-footer {
                border: none;
                padding: 15px 0 0 0;
                margin: 0;
                button {
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }    
        }        
    }   
}

.listadoReferidos {
    .print.pull-right {
        margin-bottom: 30px;
    }
    .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: center;
    }
    #tablaListado_paginate {
        margin-right: 50px;
    }
     button.guardarListado.pull-right {
        margin-top: 0px;
        margin-bottom: 15px;
    }
    th.search-bar.sorting input {
        background-color: lightgrey;
    }
}

@media (max-width: 991px) {
    .listadoReferidos {
        button.guardarListado.pull-right {
            padding: 12px 10px;
        }
    }
}

@media (max-width: 767px) {
    .consultar, .Listadoreferidos, .capturar {
        .modal.fade {
            .modal-content {
                padding: 15px;
                .modal-header {
                    h1 {
                        margin-bottom: 10px;
                    }
                }
                .modal-body {
                    .radio {
                        margin-bottom: 25px;
                    }
                    select {
                        width: 100%;
                    }
                }
                .modal-footer {
                    button {
                        margin-bottom: 10px;
                        margin-top: 10px;
                        margin-right: auto;
                        width: 100%;                       
                        max-width: inherit;
                    }
                }
            }        
        }   
    }
    
    .listadoReferidos {
        button.guardarListado.pull-right {
            margin: 15px !important;
            float: none !important;
            padding: 12px 10px;
        }
        #tablaListado {
            #tablaListado_info {
                float: inherit;
            }
            #tablaListado_paginate {
                float: inherit;
                margin-bottom: 15px;
            }            
        }
    }
}