.tile {
    position: relative;
    height: auto;
    margin-bottom: 30px;
    h3 {
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 15px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        letter-spacing: 0.05em;
        font-size: 18px;
    }
    .tile-content {
        height: 208px;
        position: relative;
        background-size: cover;
        background-color: #ddd;
        background-position: center;
        background-repeat: no-repeat;
        a {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        h3 {
            text-transform: uppercase;
            -webkit-transition: all 0.5s; /* Safari */
            transition: all 0.5s;
        }
        &:hover {
            h3 {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }
    .share-control {
        padding: 5px 10px;
        border: 1px solid #ddd;
        font-family: $font-primary;
        > span.text {
            display: inline-block;
            margin-right: 10px;
        }
        i {
            color: $color-yellow;
            font-size: 18px;
            position: relative;
            top: 1px;
            display: inline-block;
            &:hover {
                color: darken( $color-yellow, 10%);
                text-decoration: none;
            }
        }
        span.drop-down {
            a {
                text-decoration: none;
            }
            &.email {
                margin-right: 15px;
            }
        }
    }
}

@media (max-width: 767px) {
    .tile {
        margin-bottom: 16px;
        .share-control {
            text-align: center;
        }
    }
}
