section.promociones {
    .tile-container {
        .tile {            
            margin-bottom: 30px;
            -webkit-box-shadow: -1px 1px 1px 1px rgba(230,230,230,1);
            -moz-box-shadow: -1px 1px 1px 1px rgba(230,230,230,1);
            box-shadow: -1px 1px 1px 1px rgba(230,230,230,1);
            .row {
                 padding: 5px;
            }
            .tile-content {
                height: 210px;
                position: relative;
                background-size: cover;
                background-color: #ddd;
                background-position: center;
                background-repeat: no-repeat;
            }
            .place {
                h2, p {
                    font-size: 24px;
                    font-family: $font-primary;
                }
                h2 {
                    font-weight: lighter;
                }
                p {
                    font-weight: bold;
                }
                li {
                    font-size: 14px;
                    font-family: $font-primary;
                    color: #8d7f75;
                }
            }
            .price {
                text-align: right;
                background-color: #fbf9f8;
                min-height: 210px;
                .headline {
                    font-size: 12px;
                    color: #8d7f75;
                    font-family: $font-primary;
                    padding-top: 20px;
                }
                h4 {
                    margin-top: 0;
                    font-family: $font-primary;
                    font-size: 32px;
                    font-weight: normal;
                }
                button {
                    font-family: $font-primary;
                    margin: 15px 0;
                    height: auto;
                    padding: 6px 57px;
                }
                .share-control {
                    border: none;
                    padding: 10px 0;
                    > span.text {
                        display: inline-block;
                        margin-right: 10px;
                    }
                    .text {
                        font-size: 14px;
                        font-family: $font-primary;
                    }
                    i {
                        color: $color-yellow;
                        font-size: 18px;
                        position: relative;
                        top: 1px;
                        display: inline-block;
                        &:hover {
                            color: darken( $color-yellow, 10%);
                            text-decoration: none;
                        }
                    }
                    i.fa {
                        font-size: 24px;
                    }
                    span.drop-down {
                        a {
                            text-decoration: none;
                        }
                        &.email {
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    
    section.promociones {
        .tile-container {
            .tile {
                .tile-content {
                    min-height: 170px;
                    height: auto;
                }
                .place {
                    h2, p {
                        font-size: 18px;
                    }
                    h2 {
                        margin-bottom: 0;
                    }
                    li {
                        font-size: 14px;
                    }
                }
                .price {
                    min-height: 170px;                    
                    height: auto;
                    h4 {
                        font-size: 22px;
                    }
                    button {
                        width: 100%;
                        padding: 6px 0;
                        margin: 10px 0;
                    }
                    .share-control {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .tile {
        margin-bottom: 16px;
        .share-control {
            text-align: center;
            padding: 10px 5px;
            background-color: #FFF;
            margin: 0 !important;
            z-index: 1;
        }
        .tile-content {
            height: 90px;
        }
    }
    section.promociones {
        .tile-container {
            .tile {
                .tile-content {
                    height: auto;
                    min-height: 160px;
                }
                .place {
                    text-align: center;
                    h2, p {
                        font-size: 22px;
                    }
                    h2 {
                        margin-bottom: 0;
                    }
                }
                .price {
                    padding: 0;
                    min-height: auto;
                    .headline, h4 {
                        text-align: right;
                        width: 50%;
                    }
                    h4 {
                        font-size: 22px;
                    }
                    button {
                        width: 42%;
                        position: absolute;
                        top: 7px;
                        right: 15px;
                        padding: 6px 0;
                    }
                    .share-control {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
