.user {
    background-color: $gray-user-color;
    padding: 5px;
    font-size: 16px;
    i {
        color: $color-yellow;
        &.fa-user {
            font-size: 18px;
        }
        &.fa-phone {
            font-size: 16px;
        }
    }
    a {
        text-decoration: none;
        font-size: 16px;
        font-family: $font-primary;
        font-weight: 500;
        color: #ffffff;
        .cta {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .text {
        color: #ffffff;
        font-weight: 500;
    }
    span.drop-down.chat {
        margin-left: 0px;
    }
    span.drop-down.notifications {
        > ul {
            width: 283px !important;
            right: -80px !important;
        }
    }
    span.drop-down.notifications .count {
        border-radius: 100%;
        background-color: red;
        position: absolute;
        display: block;
        margin: -5px 0 0 8px;
        width: 17px;
        font-size: 11px;
        text-align: center;
        height: 17px;
        font-weight: 500;
        line-height: 1.6;
        .inner {
            font-size: 11px;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            color: #fff;
            height: 100%;
            line-height: 1.5;
            display: block;
        }
    }
    span.drop-down.user-action {
        &:hover {
            background-color: #927E6D;
            ul {
                min-width: auto !important;
            }
        }
    }
    span.drop-down {
        display: inline-block;
        position: relative;
        cursor: pointer;
        margin-left: 0;
        padding: 5px 10px;
        margin-top: -10px;
        margin-bottom: -10px;
        &:hover {
            background-color: #927E6D;
            ul {
                display: block;
                width: 100%;                
                right: 5px;
                min-width: 280px;
            }
        }
        span.name > a {
            font-weight: normal;
        }
        ul {
            border: 1px solid #927E6D;
            position: absolute;
            display: none;
            list-style-type: none;
            background-color: #fff;
            z-index: 1;
            margin: 5px -5px 0 -10px;
            padding: 0;
            > li {
                list-style-position: inside;
                padding: 10px;
                font-size: 14px;
                margin: 0;
                a {
                    color: #333333;
                    font-size: 14px;
                }
            }
            > li:hover {
                background-color: #ddd;
            }
            i {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 767px) {
    .user {
        .fam-phone {
            .text {
                display: none;
            }
        }
        span.drop-down.user-action {
            position: relative;
            &:hover {
                ul {
                    width: auto!important;
                    min-width: 140px !important;
                    right: 0!important;
                    left: auto!important;
                }
            }
        }
        span.drop-down {
            margin-left: 0;
            position: static;
            &:hover { 
                ul {
                    width: 95% !important;
                    right: 0 !important;
                    left: 0 !important;
                    margin-left: 3% !important;
                }
            } 
            .name,
            .fa-caret-down {
                display: none;
            }
            &:hover {
                ul {
                    display: block;
                    width: 140px;
                    right: 0;
                    margin-right: 0px;
                }
            }
        }
    }
}
